
body {
  background-image: 
url("img/20190827142151.png"),         url("img/20190826211330.png"),
url("img/20190827125912.png"), url("img/20190826211640.png");

  background-repeat: 
    no-repeat, no-repeat, 
    no-repeat, no-repeat;

  background-attachment: 
fixed, fixed, fixed,fixed;

  background-size: 
120% 75%,
100% 80%,
70% 20%,
100% 100%;

  background-position: 
-25% -115%,
0% 150%,
140% 107%,
0% 0%;

   background-color:red;//#F7F7F7;
}

#test {
   font-size: 150%;
   color:lightgrey;
   font-weight: bold;

   position: fixed;
   top:20px;
   left:140px;
   height: 100px;
   width: 225px;

   font-family: "Comic Sans MS", cursive, sans-serif;
    //background-color: yellowgreen;
  
}
